.fullWidthContainer{
	width:100%;
}
.mainWrapper{
	max-width:1030px;
	width:94%;
	margin:0 auto;
	border-bottom:6px solid #bf0000;
	background:#ffffff;
	box-shadow:0px -2px 12px 0px rgba(194,194,194,1);
	height:850px;
}

.mainContainer{
	width:95%;
	height:95%;
	margin:auto;
}
.footerContainer{
	max-width:1030px;
	width:94%;
	margin:0 auto;
}


/*scheduler styling*/


	#wrap {
		width: 98%;
		margin: 0 ;
		height:92%;
		margin-top:8%;
	}
		
	#external-events {
		float: left;
		width: 20%;
		height:40%;
		padding: 0 10px;
		border: 1px solid #ccc;
		background: #eee;
		text-align: left;
		display:inline-block;
	}
	.addEvent{
		float:left;
		width: 20%;
		height:30%;
		padding: 0 10px;
		margin-top:2%;
		border: 1px solid #ccc;
		background: #eee;
		text-align: left;
	}
	.addEvent h6 {
		font-size: 16px;
		margin-top: 0;
		padding-top: 1em;
	}
	#external-events h6 {
		font-size: 16px;
		margin-top: 0;
		padding-top: 1em;
	}
		
	#external-events .fc-event {
		margin: 10px 0;
		cursor: pointer;
	}
		
	#external-events p {
		margin: 1.5em 0;
		font-size: 11px;
		color: #666;
	}
		
	#external-events p input {
		margin: 0;
		vertical-align: middle;
	}

	#calendar {
		float: right;
		width: 75%;
		height:98%;
	}