@media screen and (max-width: 579px) {
    .ContentContainer {
        width: 100%;
    }
}
.ContentContainer {
    max-width: 1200px;
    margin: auto;
    min-height: 800px;
}
.PageHeading {
    font-size: 37px;
    color: rgba(37, 96, 172, 1);
    width:1200px;
    height: 50px;
    margin:auto;
    text-align: center;
	background-color:rosybrown;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav span {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav span:hover {
  background-color: #ddd;
  color: black;
  cursor:pointer;
}

.topnav span.active {
    background-color: #4CAF50;
    color: white;
}
.mainContent{
	 width:1200px;
    height: 650px;
    margin:auto;
	background-color:lightgrey;
}
.bioDiv{
	width:1000px;
	height:600px;
	margin:auto;
	background-color:white;
	padding:10px;
	text-align:center;
}
.experienceDiv{
	width:1000px;
	height:600px;
	margin:auto;
	background-color:white;
	padding:10px;
	text-align:center;
}
.achievementsDiv{
	width:1000px;
	height:600px;
	margin:auto;
	background-color:white;
	padding:10px;
	text-align:center;
}