<!DOCTYPE html>
<html lang="en" ng-app="introApp">
<head>
 <title>Intro</title>
	 <meta charset="UTF-8"> 
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
   <script type="text/javascript" src="introScript.js"></script>
    <link href="introStyle.css" rel="stylesheet" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body ng-controller="introController" class="ContentContainer">
    <header class="PageHeading">
        <span>Introduction</span>
    </header>
    <div class="topnav">
     <span ng-click="bioClick();" ng-class="{active:bioFlag==true}">Bio</span>
     <span ng-click="experienceClick();" ng-class="{active:experienceFlag==true}">Experience</span>
     <span ng-click="achievementsClick();" ng-class="{active:achievementsFlag==true}">Achievements</span>
   </div>
   <div class="mainContent">
   <div ng-if="bioFlag" class="bioDiv">
   <span><h2>Bio</h2></span>
   <ul style="text-align:left; line-height:65px;">
     <li>My name is Rishabh Srivastava.</li>
	 <li>I belong to Gorakhpur.</li>
	 <li>My father's name is Mr. Arvind Srivastava.</li>
	 <li>My mother's name is Mrs. Sudha Srivastava.</li>
	 <li>I've completed my schooling from Gorakhpur.</li>
	 <li>I've completed my B.tech in Computer Science and Engineering from PSIT kanpur in the year 2015.</li>
	 <li>My qualities are: I'm Honest, Optimistic, and hard working.</li>
	 <li>I've an experience of 1 year and my technical skills are: JavaScript, AngularJS, HTML, CSS, and T-SQL.</li>
   </ul>
   </div>
   <div ng-if="experienceFlag" class="experienceDiv">
   <span><h2>Experience</h2></span>
   <ul style="text-align:left; line-height:48px;">
     <li>I'm currently working in ImarkServ, Mumbai as Software Developer - April 3rd, 2017 to current.</li>
	 <li>I formerly worked at MAQ Software, Hyderabad as Software Developer - May 2nd, 2016 to March 31st, 2017.</li>
     <li>Developed web apps based on architectures that are reliable, scalable and high performant.</li>
	 <li>Identified design alternatives and conducted technical feasibility.</li>
	 <li>Developed proof of concepts for technical evaluation and early customer feedback.</li>
	 <li>Supported team members with designing, code reviews, testing and delivering the application.</li>
	 <li>Ensured project practices are being followed along with process tailoring to suit the project needs.</li>
	 <li>Setup and used TFS to track team delivery and project status.</li>
	 <li>My qualities are that I'm Honest, Optimistic, and hard working.</li>
	 <li>Delivered projects using Agile model which involved daily huddle and regular conference calls with onsite and customer team.</li>
	 <li>For detailed information about projects that I've worked on please <a href="Rishabh_Srivastava_Resume.docx" download>download resume</a>.</li>
   </ul>
   </div>
   <div ng-if="achievementsFlag" class="achievementsDiv">
   <span><h2>Achievements</h2></span>
   <ul style="text-align:left; line-height:70px;">
     <li>Acquired Microsoft Certification - Developing SQL Databases: 70-762.</li>
	 <li>Trained in C language by National Institute of Electronics and Information Technology.</li>
	 <li>Awarded the best performer in my first quarter of work after joining.</li>
	 <li>Comfortable with flexible work hours, to facilitate international collaboration.</li>
	 <li>Front End work has always been appreciated.</li>
   </ul>
   </div>
   </div>
   <footer style="width:1200px; height:51px; color: black; margin:auto; background-color:rosybrown;">
      <div style="padding:5px;">
	  <div style="height:25px;">
        <span style="display:inline; float:left;">Email: rishabh2592@gmail.com</span>
		<span style="display:inline; float:right;"><a href="Rishabh_Srivastava_Resume.docx" download>Download Resume</a></span>
	  </div>
		<div>Contact number: +918009895009</div>
	  </div>
    </footer>
</body>
</html>